@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --success-color: #28a745;
  --danger-color: #dc3545;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.btn-outline-light {
  border-color: var(--light-color);
  color: var(--light-color);
}

.btn-outline-light:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.stats .card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background-color: var(--success-color);
}

.border-primary {
  border-color: var(--primary-color) !important;
}

.border-secondary {
  border-color: var(--secondary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

#calorie-progress.bg-danger {
  background-color: var(--danger-color) !important;
}

.alert-bg {
  background-color: var(--light-color);
}

.alert-bg.bg-danger {
  background-color: var(--danger-color) !important;
  color: white;
}

.divider {
  height: 1px;
  background-color: #007bff;
  margin: 2rem 0;
}

.calories-capsule {
  font-size: 1.3rem !important;
  padding: 5px 25px !important;
  border-radius: 2rem !important;
}

.name-size {
  font-size: 1.3rem;
}

i.fa-xmark {
  color: red;
  font-weight: 800;
  font-size: 1.1rem;
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 370px) {
  .mt-1 {
    margin-top: 1rem !important;
  }
}
@media (max-width: 500px) {
  .calories-capsule-mobile {
    font-size: 1.1rem !important;
    padding: 5px 15px !important;
    border-radius: 1rem !important;
  }

  .name-size {
    font-size: 1.1rem;
  }
}
